<!DOCTYPE html>
<html>
<head>
  <title>Editar Artículo</title>
</head>
<body>
  <h1>Editar Artículo</h1>
  <form method="POST" action="/posts_edit/<%= articulo._id %>">
    <label for="titulo">Título:</label>
    <input type="text" name="titulo" value="<%= articulo.titulo %>" required>

    <label for="descripcion">Descripción:</label>
    <textarea name="descripcion" required><%= articulo.descripcion %></textarea>

    <!-- Otros campos de edición según tus necesidades -->

    <button type="submit">Guardar Cambios</button>
  </form>
  <a href="/posts_listar">Volver a la lista de artículos</a>
</body>
</html>
